<div id="about">
  <div class="gravatar">
    <%= image_tag "self.png" %>
  </div>
  <div class="row">
    <div class="small-10 large-6 small-centered large-centered column">
      <div class="about-title">Henry Wang</div>
    </div>
  </div>
  <div class="row entry">
    <div class="small-10 large-6 small-centered large-centered column">
    I love to rebuild until users reach the a-ha moment.
    </div>
  </div>
  <div class="row entry">
    <div class="small-10 large-6 small-centered large-centered column">
      I'm looking to grow my skills, be part of an engineering-focused company, and join a team that shares a passion for what they're working toward.
    </div>
  </div>
  <div class="row entry">
    <div class="small-10 large-6 small-centered large-centered column">
      I'm working with: Ruby on Rails, JavaScript, HTML5, CSS3 / SASS, Node.js, Angular.js, Test Driven Development
    </div>
  </div>
  <div class="row entry">
    <div class="small-10 large-6 small-centered large-centered column">
      Reach me at: henry.t.wang {at} gmail.com
    </div>
  </div>

  <div class="row">
    <div class="small-10 large-6 small-centered large-centered column">
      <%= link_to "AngelList", "https://angel.co/henry-wang/", :target => '_blank', :class => "profile-links" %>
      <%= link_to "Facebook", "http://www.facebook.com/henry.wang", :target => '_blank', :class => "profile-links" %>
      <%= link_to "Flickr", "http://flic.kr/s/aHsjGkxxov", :target => '_blank', :class => "profile-links" %>
      <%= link_to "Github", "https://www.github.com/henrytwang", :target => '_blank', :class => "profile-links" %>
      <%= link_to "Tumblr", "http://henwang.tumblr.com/", :target => '_blank', :class => "profile-links" %>
      <%= link_to "Twitter", "https://twitter.com/henrytwang", :target => '_blank', :class => "profile-links" %>
    </div>
  </div>
</div>