<div id="about">
  <div class="gravatar">
    <%= image_tag Gravatar.new("hwang89@gmail.com").image_url, width: '100' %>
  </div>
  <div class="entry">
    <div class="about-title">Henry Wang is a Web Developer.</div>
  </div>
  <div class="entry">
    My passion is building products that people connect with on a daily basis.<br/>I love to build and rebuild until users reach the 'a-ha' moment.
  </div>
  <div class="entry">
    <div class="entry-title">The Past</div>
    Since graduating from the University of Illinois at Urbana-Champaign two years ago, I've worked for a company that did analytics for television ads (which Super Bowl ad did everyone actually like?) and a company that did analytics for inside sales teams (which presentations win deals?).
  </div>
  <div class="entry">
    <div class="entry-title">2013</div>
    I learned the ropes of multiple languages and frameworks, pair programmed with different personalities, worked on team projects, worked on being an empathetic team member, and absorbed feedback from experienced developers. I was pushed to the edge of my capabilities and responded with productivity that I would have never had on my own.
  </div>
  <div class="entry">
    <div class="entry-title">My Side Project</div>
    Marketers and business owners have many effective A/B testing tools at their disposal (e.g. Optimizely, Visual Website Optimizer, etc.). By making the right A/B tests, big gains can be made. Deciding which tests to make and where to allocate resources are the hard parts. I'm building a tool for decision makers to solve these issues through actionable feedback. <%= link_to "Read more about it here.", "http://henwang.tumblr.com/post/57411057461/side-project-b2b-saas-a-b", :target => '_blank' %>
  </div>
  <div class="entry">
    <div class="entry-title">Now</div>
    I'm looking to grow my skills, be part of an engineering-focused company, and join a team that shares a burning passion for what they're working toward.
  </div>
  <div class="entry">
    Here's what I'm working on: Ruby on Rails, Test Driven Development, JavaScript, jQuery, HTML5, CSS3 / SASS
  </div>

  <div id="contact">
    <div class="contact entry">
      Contact me at: <strong><%= link_to "henry.t.wang {at} gmail.com", "mailto:henry.t.wang@gmail.com"%></strong><br><br><br>
      <%= link_to "AngelList", "https://angel.co/henry-wang/", :target => '_blank', :class => "profile-links" %>
      <%= link_to "Facebook", "http://www.facebook.com/henry.wang", :target => '_blank', :class => "profile-links" %>
      <%= link_to "Flickr", "http://flic.kr/s/aHsjGkxxov", :target => '_blank', :class => "profile-links" %>
      <%= link_to "Github", "https://www.github.com/henrytwang", :target => '_blank', :class => "profile-links" %>
      <%= link_to "Tumblr", "http://henwang.tumblr.com/", :target => '_blank', :class => "profile-links" %>
      <%= link_to "Twitter", "https://twitter.com/henrytwang", :target => '_blank', :class => "profile-links" %>
    </div>
  </div>
</div>