<div id="container">
  <div id="about">
    <div class="gravatar">
      <%= image_tag Gravatar.new("hwang89@gmail.com").image_url, width: '100' %>
    </div>
    <div class="entry">
      <div class="about-title">Henry Wang is a Web Developer.</div>
    </div>
    <div class="entry">
      My passion is building products that people connect with on a daily basis. With a background in marketing, I skew towards growth and maximizing conversion rates. At the end of the day, I strive to create the best user experience possible.
    </div>
    <div class="entry">
      Skills: Ruby on Rails, Javascript, jQuery, HTML, CSS, MySQL
    </div>
  </div>

  <div id="work">

    <div class="work-entry">
      <%= image_tag 'blank.png', width: "800", class: "work-image" %>
      <div class="work-text">
        <div class="project"><h3>Next Test (in development)</h3></div>
        <div class="description">Marketers and business owners have many effective A/B testing tools at their disposal (e.g. Optimizely, Visual Website Optimizer, etc.). By making the right A/B tests, big gains can be made. However, the creative process behind these tests isn't always easy. I'm building an app to connect these decision makers with crowdsourced optimizations of their pages.</div>
        <div class="languages">Rails, PostgreSQL, Javascript, jQuery, Heroku, Split.</div>
      </div>
    </div>

    <div class="work-entry">
      <%= link_to(image_tag('DBConnect.png', width: "800", class: "work-image"), "http://dbconnect.herokuapp.com/", :target => '_blank' ) %>
      <div class="work-text">
        <div class="project"><h3>DBConnect</h3></div>
        <div class="description">The networking tool for DevBootcamp alumni and employers. (DBC final project).</div>
        <div class="languages">Rails, PostgreSQL, Javascript, jQuery, Heroku, Solr.</div>
      </div>
    </div>

    <div class="work-entry">
      <%= link_to(image_tag('thinkful.png', width: "800", class: "work-image"), "http://www.thinkful.com/", :target => '_blank' ) %>
      <div class="work-text">
        <div class="project"><h3>Thinkful</h3></div>
        <div class="description">Remotely implemented the site redesign and several lead gen landing pages.</div>
        <div class="languages">Rails, Heroku, Javascript, jQuery.</div>
      </div>
    </div>

    <div class="work-entry">
      <%= link_to(image_tag('ROB.png', width: "800", class: "work-image"), "http://www.rapperorbird.com/", :target => '_blank' ) %>
      <div class="work-text">
        <div class="project"><h3>R.O.B.</h3></div>
        <div class="description">Don't let your ears fool you. Inspired by The Rap Board.</div>
        <div class="languages">Sinatra, Heroku, jQuery.</div>
      </div>
    </div>
  </div>

  <div id="contact">
    <div class="contact entry">
      <%= link_to "henry.t.wang{at}gmail.com", "mailto:henry.t.wang@gmail.com"%><br><br><br>
      <%= link_to "Github", "https://www.github.com/henrytwang", :target => '_blank' %>
      <%= link_to "AngelList", "https://angel.co/henry-wang/", :target => '_blank' %>
      <%= link_to "Twitter", "https://twitter.com/henrytwang", :target => '_blank' %>
      <%= link_to "Facebook", "http://www.facebook.com/henry.wang", :target => '_blank' %>
      <%= link_to "Flickr", "http://flic.kr/s/aHsjGkxxov", :target => '_blank' %>
    </div>
  </div>
</div>