<h1>Henry Wang</h1>

<%= image_tag Gravatar.new("hwang89@gmail.com").image_url %>

<ul>
    <li><%= link_to "Blog", "http://henwang.tumblr.com/" %></li>
    <li><%= link_to "Facebook", "http://www.facebook.com/henry.wang" %></li>
    <li><%= link_to "Flickr", "http://flic.kr/s/aHsjGkxxov" %></li>
    <li><%= link_to "Github", "https://github.com/henrytwang" %></li>
    <li><%= link_to "Twitter", "https://twitter.com/henrytwang" %></li>
</ul>
