<div id="container">
  <div id="about">
    <div class="gravatar">
      <%= image_tag Gravatar.new("hwang89@gmail.com").image_url, width: '100' %>
    </div>
    <div class="entry">
      <div class="about-title">Henry Wang is a Web Developer.</div>
    </div>
    <div class="entry">
      My passion is building products that people connect with on a daily basis. With a background in marketing, I skew towards growth and maximizing conversion rates. At the end of the day, I strive to create the best user experience possible.
    </div>
    <div class="entry">
      <div class="entry-title">The Past</div>
      Since graduating from the University of Illinois at Urbana-Champaign two years ago, I've worked for a company that did analytics for television ads (which Super Bowl ad did everyone actually like?) and a company that did analytics for sales presentations (which preso caused your lead to fall asleep?). I've also been living in the Bay Area and discovering that, yes, there is life outside of the Midwest.
    </div>
    <div class="entry">
      <div class="entry-title">2013</div>
      Codecademy declared 2012 the year to learn code, but I was late to the game. I attended Dev Bootcamp this year and did many, many things in a very short period of time. I learned the ropes of multiple languages and frameworks, pair programmed with different personalities, worked on team projects, embodied empathy and feedback, and absorbed advice/criticism from veteran instructors. I was pushed to the edge of my learning/panic zone and responded with productivity that I would have never had on my own. And I'd do it all again without a doubt.
      <br />
      It'd be reckless to say that I crossed an imaginary finish line into becoming a totally proficient coder. This is only the beginning of a long journey. I have a network of supportive people, but it's completely up to me to keep pushing the pace on my own development. And that involves projects.
    </div>
    <div class="entry">
      <div class="entry-title">My Side Project</div>
      Marketers and business owners have many effective A/B testing tools at their disposal (e.g. Optimizely, Visual Website Optimizer, etc.). By making the right A/B tests, big gains can be made. Deciding what tests to make is far from easy. I'm building an app to connect these decision makers with crowdsourced optimizations of their pages. <%= link_to "Read more about it here.", "http://henwang.tumblr.com/post/57411057461/side-project-b2b-saas-a-b", :target => '_blank' %>
    </div>
    <div class="entry">
      <div class="entry-title">The Future</div>
      I've been working on interesting challenges for the past two years, but I'm not 100% happy with where I am. I'm looking to move into the world of software for several reasons. I want to be part of the software culture. I want to have opportunities to grow my skills and develop new ones. I want to work for a company that understands developers. Finally, I want to be part of a team that shares a similar passion for what they're working toward.
    </div>
    <div class="entry">
      <div class="entry-title">tl;dr</div>
      I especially enjoy working with the full stack. I've worked mostly with Ruby, Rails, Javascript, HTML, and CSS. I've recently worked with Backbone and Mustache. I'd prefer to stay in the Bay Area, but would entertain offers in other places as well.
    </div>
    <div class="entry">
      Skills: Ruby on Rails, Javascript, jQuery, HTML, CSS, MySQL
    </div>
  </div>

  <div id="work">

    <div class="work-entry">
      <%= image_tag 'blank.png', width: "800", class: "work-image" %>
      <div class="work-text">
        <div class="project"><h3>Next Test (in development)</h3></div>
        <div class="description">Discover your next A/B tests.</div>
        <div class="languages">Rails, PostgreSQL, Javascript, jQuery, Heroku, Split.</div>
      </div>
    </div>

    <div class="work-entry">
      <%= link_to(image_tag('DBConnect.png', width: "800", class: "work-image"), "http://dbconnect.herokuapp.com/", :target => '_blank' ) %>
      <div class="work-text">
        <div class="project"><h3>DBConnect</h3></div>
        <div class="description">The networking tool for DevBootcamp alumni and employers. (DBC final project).</div>
        <div class="languages">Rails, PostgreSQL, Javascript, jQuery, Heroku, Solr.</div>
      </div>
    </div>

    <div class="work-entry">
      <%= link_to(image_tag('thinkful.png', width: "800", class: "work-image"), "http://www.thinkful.com/", :target => '_blank' ) %>
      <div class="work-text">
        <div class="project"><h3>Thinkful</h3></div>
        <div class="description">Remotely implemented the site redesign and several lead gen landing pages.</div>
        <div class="languages">Rails, Heroku, Javascript, jQuery.</div>
      </div>
    </div>

    <div class="work-entry">
      <%= link_to(image_tag('ROB.png', width: "800", class: "work-image"), "http://www.rapperorbird.com/", :target => '_blank' ) %>
      <div class="work-text">
        <div class="project"><h3>R.O.B.</h3></div>
        <div class="description">Don't let your ears fool you. Inspired by The Rap Board.</div>
        <div class="languages">Sinatra, Heroku, jQuery.</div>
      </div>
    </div>
  </div>

  <div id="contact">
    <div class="contact entry">
      <%= link_to "henry.t.wang{at}gmail.com", "mailto:henry.t.wang@gmail.com"%><br><br><br>
      <%= link_to "Github", "https://www.github.com/henrytwang", :target => '_blank' %>
      <%= link_to "AngelList", "https://angel.co/henry-wang/", :target => '_blank' %>
      <%= link_to "Twitter", "https://twitter.com/henrytwang", :target => '_blank' %>
      <%= link_to "Facebook", "http://www.facebook.com/henry.wang", :target => '_blank' %>
      <%= link_to "Flickr", "http://flic.kr/s/aHsjGkxxov", :target => '_blank' %>
    </div>
  </div>
</div>