<div id="work">

  <div class="work-entry span6">
    <%= link_to(image_tag('zazzle.png', class: "work-image"), "http://www.zazzle.com/", :target => '_blank' ) %>
    <div class="work-text">
      <div class="all-text">
      <h3>Zazzle</h3>
      I worked with the Zazzle UI Engineering team on maintaining and implementing campaigns with input from the Marketing team. I also implemented an affiliate network tracking tool for all customer purchases.<br/><br/>
      HTML5, CSS3, JavaScript, .NET
      </div>
    </div>
  </div>

  <div class="work-entry span6">
    <%= image_tag 'nexttest.png', class: "work-image" %>
    <div class="work-text">
      <div class="all-text">
      <h3>Next Test</h3>
      A/B tests are easy to implement thanks to tools like Optimizely and Visual Website Optimizer, but choosing what tests to make is difficult when you're limited on time and resources. Use Next Text to get feedback and direction from experts before you make your choices.<br/><br/>
      Rails, PostgreSQL, Javascript, jQuery, Heroku, Sidekiq, Split
      </div>
    </div>
  </div>

  <div class="work-entry">
    <%= link_to(image_tag('readingtime.png', class: "work-image"), "http://emailbox-readability.herokuapp.com/", :target => '_blank' ) %>
    <div class="work-text">
      <div class="all-text">
        <h3>Readability for Emailbox</h3>
        For those who declare e-mail bankruptcy all too often. Know exactly how long your emails will take to read before you open them. This was built on top of Emailbox.<br /><br/>
        Rails, Node.js, Emailbox API
      </div>
    </div>
  </div>

  <div class="work-entry">
    <%= link_to(image_tag('DBConnect.png', class: "work-image"), "http://dbc-demo.herokuapp.com/", :target => '_blank' ) %>
    <div class="work-text">
      <div class="all-text">
        <h3>DBConnect</h3>
        A networking tool for DevBootcamp students, alumni, staff, mentors, and employers. Similar to AngelList, we allow you to quickly find those around you and connect through introductory emails. Built as a final project.<br /><br/>
        Rails, PostgreSQL, Javascript, jQuery, Heroku, Solr
      </div>
    </div>
  </div>

  <div class="work-entry">
    <%= link_to(image_tag('thinkful.png', class: "work-image"), "http://www.thinkful.com/", :target => '_blank' ) %>
    <div class="work-text">
      <div class="all-text">
        <h3>Thinkful</h3>
        After two months of learning front-end languages, I remotely implemented Thinkful's site redesign and several lead gen landing pages.<br/><br/>
        Rails, Heroku, Javascript, jQuery
      </div>
    </div>
  </div>

  <div class="work-entry">
    <%= link_to(image_tag('ROB.png', class: "work-image"), "http://www.rapperorbird.com/", :target => '_blank' ) %>
    <div class="work-text">
      <div class="all-text">
        <h3>R.O.B.</h3>
        A one-day project to explore web audio. Don't let your ears fool you. Inspired by LP Riel's The Rap Board.<br/><br/>
        Sinatra, Heroku, jQuery
      </div>
    </div>
  </div>

</div>